site_name: Keystone Documentation
nav:
    - Getting Started: index.md
    - Configuring Keystone: configuration
markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
repo_url: https://github.com/keystone-scim/keystone
repo_name: keystone-scim/keystone
theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  logo: assets/img/logo.png
  favicon: assets/img/favicon.png
  palette:
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
      accent: red
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: black
      accent: red
