name: Publish
on:
  release:
    types: [created]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - run: |
          git config --global user.name Publisher
          git config --global user.email publisher@keystone-scim.io
      - run: pip install mkdocs-material mike
      - run: |
          cd keystone-docs
          mike deploy --push --update-aliases ${{  github.ref_name }} latest
          mike set-default --push latest
          mkdocs gh-deploy --force
